<h1>DASHBOARD PAGE</h1>

<section class="favourite-recipes">
    <div>
        <h2>My favourites</h2>
    </div>
    {{#each receta}}
        <h3>{{this.name}}</h3>
        <h3>{{this.score}}</h3>
        <h3>{{this.creator}}</h3>
        <p>{{this.instructions}}</p>
        <p>{{this.ingredients}}</p>
    {{/each}}
</section>

<section class="new-recipe">
    <div>
        <h3>Crea una nueva receta</h3>
        <button><a href="/createrecipe">Crear...</a></button>
    </div>
</section>

<section class="upload-recipe"> 
    <div>
        <h3>Actualiza tus recetas creadas</h3>
        <button><a href="/recipes/:id">Actualiza tus recetas</a></button>
    </div>
</section>