<section class="create-recipe">
    <form action = "edit" enctype="multipart/form-data" method = "POST" >
    <h2>Edita tu receta!</h2>
        <label for = "name"> Nombre </label>
        <input type = "text" name = "name" id = "name" value="{{ findrecipe.name }}">

        <label for="name">Ingredientes</label>
        <textarea type="text " name="ingredients" cols="30" rows="4" placeholder=" Añade ingredientes" value="{{ findrecipe.Ingredients }}"></textarea>

        <label for="name">Instrucciones</label>
        <textarea type="name" name="instructions" cols="30" rows="4" placeholder=" Introduce instrucciones" value="{{ findrecipe.instructions }}"></textarea>

        <label for="name">Tipo cocina</label>
        <select name="cuisine">
            <option value="Española">Española</option> 
            <option value="Japonesa">Japonesa</option>
            <option value="Argentina">Argentina</option>
            <option value="Catalana">Catalana</option>
            <option value="Italiana">Italiana</option>
            <option value="Mexicana">Mexicana</option>
            <option value="Americana">Americana</option>
        </select>

        <label for="name">Tipo plato</label>
        <select name="typefood">
            <option value="Entrantes">Entrantes</option> 
            <option value="Primero">Primero</option>
            <option value="Segundo">Segundo</option>
            <option value="Postre">Postre</option>
        </select>

        <label for = "name">Imagen</label>
        <input type = "file" name = "photo" id = "image" value="{{ findrecipe.image }}">

        <label for = "diners">Comensales</label>
        <input type = "text" name = "diners" id = "diners" value="{{ findrecipe.diners }}">
        
      <button class="btn"> Editar </button>
    </form>
    </section>

    {{!-- name: req.body.String,
    ingredients: req.body.String,
    instructions: req.body.String,
    cuisine: req.body.String,
    image: {type: req.body.String, default: 'images.media-allrecipes.com/images/75131.jpg'},
    diners: req.body.Number,
    score: req.body.Number,
    idScorer: req.body.Number --}}