<section class="section1-recetas">
    <div>
    <h2>Recetas</h2>
    <p>Navega entre todas nuestras recetas, encuentra la que más te guste, márcala como favorita... y disfruta!!</p>
    
</div>
</section>

<section class="section-recetas">
    {{#if errorMessage}}
        <h2>{{errorMessage}}</h2>
    {{/if}}
{{#if receta}}
{{#each receta}}
<div class="div-recetas">
  <div class="cardrecipe">
    <div class="card__body">
      <img src="{{this.image}}" alt="" class="card__image">
      <h2 class="card__title">{{this.name}}</h2>
      <p class="card__description">Creador: {{this.creator.name}}</p>
      <p class="card__description"> Cocina: {{this.cuisine}}</p>
      <p class="card__description"> Tipo de plato: {{this.typefood}}</p>
    </div>
    <button class="card__btn"><a href="/recipes/{{this._id}}">Detalles</a></button>
  </div>
</div>
{{/each}}

{{/if}}
    
{{#if recetasObj}}
    {{#each recetasObj}}
    <div class="div-recetas">
    <img src="{{this.image}}" alt="">
    <div class="div-recetas2">
        <h3>{{this.name}}</h3>
        <h4>Tipo de cocina: {{this.cuisine}}</h4>
        <h4>Comensales: {{this.diners}}</h4>
        <h4>Creador: {{this.creator.name}}</h4>
        <h4>Tipo plato: {{this.typefood}}</h4>
        <button type="button" class="card__btn"><a href="/recipes/{{this._id}}">Detalles</a></button>
    </div>
</div>
    {{/each}}
{{/if}}
</section>
