<h1>Receta de {{byId.name}}</h1>

<section class="details-recipe">
    <div class="showimage">
        <img src="{{byId.image}}" alt="">
    </div>

    <div class="details-card">
        <div class="div-details">
            <p>Cocina: {{byId.cuisine}}</p>
            <p>Comensales: {{byId.diners}}/10</p>
        </div>

        <div class="div-details">
            <p>{{byId.ingredients}}</p>
            <br>
            <p>{{byId.instructions}}</p>
        </div>

        <div class="div-buttons-details">
            <a href="/update">Actualizar</a>
            <a href="/recipes">Volver</a>
        </div>
    </div>
</section>

    <form action="{{byId._id}}/delete" method="POST">
        <button> Delete </button>
    </form>


