<h1>Receta de {{byId.name}}</h1>

<section class="details-recipe">
    <div class="showimage">
        <img src="{{byId.image}}" alt="">
    </div>

    <div class="details-card">
        <div class="div-details">
            <p>Cocina: {{byId.cuisine}}</p>
            <p>Comensales: {{byId.diners}}</p>
        </div>

        <div class="div-details">
            <p>{{byId.ingredients}}</p>
            <br>
            <p>{{byId.instructions}}</p>
            <p>Puntuación {{byId.score}}/10</p>
        </div>

        <div class="div-buttons-details">
            <button type="button" class="btn btn-primary"><a href="/recipes">Volver</a></button>
             {{#if isCreator}}
             <button type="button" class="btn btn-warning"><a href="{{byId._id}}/edit">Actualizar</a></button> 
                <form action="{{byId._id}}/delete" method="POST">
                    <button class="btn btn-danger">Eliminar</button>
                </form>
             {{/if}}
        </div>
    </div>
</section>